*{
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../images/akan-culture.jpeg");
  background-position: center;
  background-size: 800px;
  background-color: rgb(131, 131, 131);
  background-repeat: repeat;
  text-align: left;
}

.heading{
  margin-top: 3%;
}

.heading h1{
  color: rgb(249, 253, 0);
  font-size: 50px;
  font-family: 'Asap Condesed', sans-serif;
  font-weight: 500;
  font-weight: bolder;
}

.heading img{
  width: 200px;
  height: 100px;
  object-fit: contain;
  float: right;
  margin-top: -2%;
}

.map img{
  float: right;
  height: max-content;
  margin-left: 50px;
  border-radius: 20px;
}

.tag img{
  float: left;
  height: max-content;
  margin-right: 50px;
  border-radius: 20px;

}

.heading p{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  margin-top: -1%;
}

form{
  background-color:rgba(27, 216, 59, 0.5);
  justify-content: center;
  padding: 20px;
  width: 500px;
  margin: auto;
  color: white;
  border-radius: 10px;
}

form label{
  float: left;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}